@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.bg-image {
  background-image: url("../public/images/background-image.jpg");
  display: flex;
}


.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-color {
  background: rgb(205, 250, 219);
}

.bg-color2 {
  background: rgb(255, 207, 150);
}

.dark-color{
  color: rgb(255, 128, 128);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
}